body{
  padding-top: 12vh;
}

.navbar {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1000;
  }